node_modules/
/.idea/
/test-results/
/allure-results/
/allure-report/
/tests-examples/
/playwright-report/
/blob-report/
/playwright/.cache/
allure-report/app.js
allure-report/favicon.ico
allure-report/index.html
allure-report/styles.css
allure-report/data/behaviors.csv
allure-report/data/behaviors.json
allure-report/data/categories.csv
allure-report/data/categories.json
allure-report/data/packages.json
allure-report/data/suites.csv
allure-report/data/suites.json
allure-report/data/timeline.json
allure-report/data/test-cases/1fa696fd0fd45290.json
allure-report/data/test-cases/2c4af509a12e20d4.json
allure-report/data/test-cases/6db9dbb43fd2a19c.json
allure-report/data/test-cases/7fe155945d76373f.json
allure-report/data/test-cases/8bfe5ee1c82af8f7.json
allure-report/data/test-cases/15d60b20f418f295.json
allure-report/data/test-cases/17b143e6e5c0301a.json
allure-report/data/test-cases/20b76c5be4f87730.json
allure-report/data/test-cases/82bdb372a3af1bc3.json
allure-report/data/test-cases/164e35d6f7e05682.json
allure-report/data/test-cases/189fffc8cc4ab433.json
allure-report/data/test-cases/310cef48629b2f87.json
allure-report/data/test-cases/319ff824e3c0701d.json
allure-report/data/test-cases/352d59792368d8b0.json
allure-report/data/test-cases/442f7c4a3f44442f.json
allure-report/data/test-cases/488e6b9a1c45e0be.json
allure-report/data/test-cases/503e1d90e9456bb2.json
allure-report/data/test-cases/527f3e58ac69d49c.json
allure-report/data/test-cases/698ced41ff6b8b98.json
allure-report/data/test-cases/723d36409d851404.json
allure-report/data/test-cases/742b622b44f0f209.json
allure-report/data/test-cases/931c294252dce159.json
allure-report/data/test-cases/2719aa5d23d5ead8.json
allure-report/data/test-cases/29462a9e670ce064.json
allure-report/data/test-cases/550700b7b9b5fe7b.json
allure-report/data/test-cases/551260592c9445d9.json
allure-report/data/test-cases/1927289682a1661a.json
allure-report/data/test-cases/a143db7471714360.json
allure-report/data/test-cases/a9518738f54fac6a.json
allure-report/data/test-cases/a998284364005ae0.json
allure-report/data/test-cases/adaebd6852e8df0b.json
allure-report/data/test-cases/af1aa135a402df62.json
allure-report/data/test-cases/b4cdc2f6c55e8a3e.json
allure-report/data/test-cases/b67949a9333d55a6.json
allure-report/data/test-cases/c1bb671e4470a774.json
allure-report/data/test-cases/c579eb960e8f4b7e.json
allure-report/data/test-cases/d71abe16f25a8e8e.json
allure-report/data/test-cases/d618c701c82bf2.json
allure-report/data/test-cases/dc7fb4745028c30f.json
allure-report/data/test-cases/e6e2614ddcb4a80a.json
allure-report/data/test-cases/e8ad634e27e0d039.json
allure-report/data/test-cases/e0028f3accd3563.json
allure-report/data/test-cases/e42aad928f2a35fe.json
allure-report/data/test-cases/f4a78c474373d31c.json
allure-report/data/test-cases/f6b8f33746272be8.json
allure-report/data/test-cases/f87d52f01eebdcf7.json
allure-report/data/test-cases/f516149339dfefb7.json
allure-report/data/test-cases/fa74e4139abe50db.json
allure-report/data/test-cases/fdf87a011f5c4373.json
allure-report/export/influxDbData.txt
allure-report/export/mail.html
allure-report/export/prometheusData.txt
allure-report/history/categories-trend.json
allure-report/history/duration-trend.json
allure-report/history/history-trend.json
allure-report/history/history.json
allure-report/history/retry-trend.json
allure-report/plugin/behaviors/index.js
allure-report/plugin/packages/index.js
allure-report/plugin/screen-diff/index.js
allure-report/plugin/screen-diff/styles.css
allure-report/widgets/behaviors.json
allure-report/widgets/categories-trend.json
allure-report/widgets/categories.json
allure-report/widgets/duration-trend.json
allure-report/widgets/duration.json
allure-report/widgets/environment.json
allure-report/widgets/executors.json
allure-report/widgets/history-trend.json
allure-report/widgets/launch.json
allure-report/widgets/retry-trend.json
allure-report/widgets/severity.json
allure-report/widgets/status-chart.json
allure-report/widgets/suites.json
allure-report/widgets/summary.json
